.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.red{
    color: red;
}
.bg-yellow{
    background-color: yellow;
}

#firstdiv{
    background-color: aliceblue;
}